.navbar{
    background-color: #13213A ;
    color: aliceblue;
    font-weight: bolder;
    font-size:larger;
    padding-left: 40px;
}
.navbar-expand-lg{
    color:aliceblue;
    font-weight: bolder;
    padding: 5px;
}
.ms-auto{
    padding-right: 40px;
    padding-left:20px;
}
a.navbar:hover, a.navbar{
    text-decoration: none;
    color: aliceblue;
}
